# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js / React
node_modules/
dist/
build/
.npm/
.yarn/

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
.env
.env.*
*.bak
*.swp
*.zip

# CMake build
pqc/build/
